<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Tortoise Lights</title>
       <link rel="stylesheet" media="screen" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>

<div class="container">
 
 
  <h2>Switches</h2>
  <form  action="/" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="switch">Switch:</label>
      <select class="form-control" id="switch" name="switch"  id="sel1">
        {% for tortName in tortListNames %}
        <option>{{ tortName }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="state">State:</label>
      <select class="form-control" id="state" name="state" id="sel1">
        <option>On</option>
        <option>Off</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>